@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    background: url(./assets/2149314078.jpg) center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.wrapper {
    background-color: white;
    width: 100%;
    max-width: 600px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 8px 4px 4px rgb(0, 0, 0, 0.4);
}

.title {
    margin-bottom: 20px;
}

.title h1 {
    font-size: 1.6em;
    text-align: center;
}

#cnpj-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

#cnpj-container input {
    border: 1px solid black;
    border-radius: 6px;
    padding: 4px;
}

.row-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

#faz-container .input-container, #mtz-container .input-container, #fl-container .input-container {
    width: calc(33% - 10px);
}

.input-container {
    width: calc(50% - 10px);
}

.input-container label {
    font-size: .9em;
    display: block;
}

.input-container select {
    border-radius: 6px;
    padding: 4px;
    width: 100%;
}

.load-container {
    display: flex;
    justify-content: right;
    align-items: center;

    margin-top: 20px;
}

.load-container button {
    color: white;
    font-weight: bold;
    background-color: #F69E3A;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.3);
    padding: 8px 24px;
    width: calc(33% - 10px);

    cursor: pointer;
    transition: .5s;
}

.load-container button:hover {
    color: #F69E3A;
    background-color: white;
}

#trib-container .input-container {
    width: 100%;
}

#trib-container select {
    width: calc(33% - 10px);
}